<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>List of All Users</h1></center>
    <ul>
        {{#if data}}
        {{#each data}}
        <li>
            <h2>Name: {{name}}</h2>
            <p>Email: {{email}}</p>
            <p>Password: {{password}}</p>
        </li>
        {{/each}}
        {{else}}
        <h4>No Data Found</h4>
        {{/if}}
    </ul>
</body>
</html>