<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li href="/">Home</li>
                <li href="/blogs">Blogs</li>
            </ul>
        </nav>
    </header>
    <h1>{{blog.Title}}</h1>
    <p>{{blog.Content}}</p>
    <p>{{blog.Writer}}</p>
</body>
</html>